<nav class="breadcrumb is-medium" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">Models</a></li>
    <li class="is-active">
      <a href="#" aria-current="page">Add</a>
    </li>
  </ul>
</nav>

<h1 class="title is-2">Create New Model</h1>

<form [formGroup]="modelForm" (ngSubmit)="saveModel()">
  <div class="box columns">
    <div class="column is-half">
      <div class="field form-group">
        <label class="label">Name</label>
        <div class="control">
          <input
            id="name"
            formControlName="name"
            class="input"
            type="text"
            required
            placeholder="Name of the model"
          />
        </div>
        <!-- error block -->
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.name.touched || submitted) &&
            modelFormControl.name.errors?.required
          "
        >
          <sup>*</sup>Name is required
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.name.touched || submitted) &&
            modelFormControl.name.errors?.minlength
          "
        >
          <sup>*</sup>Name must be at least 2 characters long
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.name.touched || submitted) &&
            modelFormControl.name.errors?.maxlength
          "
        >
          <sup>*</sup>Name has a maximum of 30 characters
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.name.touched || submitted) &&
            modelFormControl.name.errors?.pattern
          "
        >
          <sup>*</sup>No special characters are allowed
        </div>
      </div>

      <div class="field form-group">
        <label class="label">Description</label>
        <div class="control">
          <textarea
            id="description"
            formControlName="description"
            required
            class="textarea"
            placeholder="Description of the model"
          ></textarea>
        </div>
        <!-- error block -->
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.description.touched || submitted) &&
            modelFormControl.description.errors?.required
          "
        >
          <sup>*</sup>Description is required
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.description.touched || submitted) &&
            modelFormControl.description.errors?.minlength
          "
        >
          <sup>*</sup>Description must be at least 2 characters long
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.description.touched || submitted) &&
            modelFormControl.description.errors?.maxlength
          "
        >
          <sup>*</sup>Description has a maximum of 350 characters
        </div>
      </div>

      <div class="field form-group">
        <label class="label">File URL</label>
        <div class="control">
          <input
            id="path"
            formControlName="path"
            class="input"
            type="text"
            required
            placeholder="URL to the original file"
          />
        </div>
        <!-- error block -->
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.path.touched || submitted) &&
            modelFormControl.path.errors?.required
          "
        >
          <sup>*</sup>Path is required
        </div>
      </div>

      <div class="field form-group">
        <label class="label">Language</label>
        <div class="control">
          <input disabled formControlName="type" class="input" type="text" />
        </div>
      </div>

      <div class="field form-group">
        <div class="file has-name">
          <label class="file-label">
            <input
              class="file-input"
              id="file"
              accept=".bpmn, .epml"
              type="file"
              (change)="setFile($event)"
            />
            <span class="file-cta">
              <span class="file-icon">
                <fa-icon [icon]="faUpload"></fa-icon>
              </span>
              <span class="file-label"> Upload </span>
            </span>
            <span class="file-name"> {{ selectedFileName }} </span>
          </label>
        </div>
        <!-- error block -->
        <div
          class="invalid-feedback"
          *ngIf="submitted && modelFormControl.type.errors?.required"
        >
          <sup>*</sup>File is required
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-primary">Submit</button>
        </div>
        <div class="control">
          <button type="button" routerLink=".." class="button is-link is-light">
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="column is-half">
      <div class="field form-group">
        <label class="label">Repository URL</label>
        <div class="control">
          <input
            id="repoUrl"
            formControlName="repoUrl"
            class="input"
            type="text"
            required
            placeholder="URL to the repository"
          />
        </div>
        <!-- error block -->
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.repoUrl.touched || submitted) &&
            modelFormControl.repoUrl.errors?.required
          "
        >
          <sup>*</sup>Repository URL is required
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.repoUrl.touched || submitted) &&
            modelFormControl.repoUrl.errors?.pattern
          "
        >
          <sup>*</sup>Given URL is invalid
        </div>
      </div>

      <div class="field form-group">
        <label class="label">Stars</label>
        <div class="control">
          <input
            id="stars"
            formControlName="stars"
            required
            class="input"
            min="0"
            step="any"
            type="number"
            placeholder="Number of repository stars"
          />
        </div>
        <!-- error block -->
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.stars.touched || submitted) &&
            modelFormControl.stars.errors?.required
          "
        >
          <sup>*</sup>Stars number is required
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.stars.touched || submitted) &&
            modelFormControl.stars.errors?.pattern
          "
        >
          <sup>*</sup>Number format is invalid
        </div>
      </div>

      <div class="field form-group">
        <label class="label">Forks</label>
        <div class="control">
          <input
            id="forks"
            formControlName="forks"
            required
            class="input"
            min="0"
            step="any"
            type="number"
            placeholder="Number of repository forks"
          />
        </div>
        <!-- error block -->
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.forks.touched || submitted) &&
            modelFormControl.forks.errors?.required
          "
        >
          <sup>*</sup>Forks number is required
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.forks.touched || submitted) &&
            modelFormControl.forks.errors?.pattern
          "
        >
          <sup>*</sup>Number format is invalid
        </div>
      </div>

      <div class="field form-group">
        <label class="label">Branches</label>
        <div class="control">
          <input
            id="branches"
            formControlName="branches"
            required
            class="input"
            min="0"
            step="any"
            type="number"
            placeholder="Number of repository branches"
          />
        </div>
        <!-- error block -->
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.branches.touched || submitted) &&
            modelFormControl.branches.errors?.required
          "
        >
          <sup>*</sup>Branch number is required
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            (modelFormControl.branches.touched || submitted) &&
            modelFormControl.branches.errors?.pattern
          "
        >
          <sup>*</sup>Number format is invalid
        </div>
      </div>
    </div>
  </div>
</form>
